h1 {
  text-align: center;
}

.message-area {
  height: 60vh;
  width: 480px;
  overflow: scroll;
  display: flex;
  flex-direction: column-reverse;
  border: 2px solid black;
  margin: 20px auto;
}

.text-entry {
  margin: 0 auto;
  text-align: center;
}
