<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chatti The Chat Bot!</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <header>
      <h1>Chatti the chat bot</h1>
    </header>
    <section class="chat-box">
      <div class="message-area">
        <template class="message" v-for='note of chatLog'>

        </template>
      </div>
      <form class="text-entry" action="index.html" method="post">
        <input type="text" v-model="user-message" name="name" class="input-box" value="">
        <button type="submit" name="submit">Send</button>
      </form>
    </section>
    <footer>
    </footer>
    <script src="https://unpkg.com/vue" charset="utf-8"></script>
    <script src="js/translate.js" charset="utf-8"></script>
    <script src="js/weather.js" charset="utf-8"></script>
    <script src="js/whatis.js" charset="utf-8"></script>
    <script src="js/wiki.js" charset="utf-8"></script>
    <script src="js/main.js" charset="utf-8"></script>
  </body>
</html>
